* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
 
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
    margin:0;
    background:#6d6e6f;
}

#header{height:65px;border-bottom-style: solid;border-color:red;}
#header{width:100%;}
#header h3{float:left;color:#FFFFFF;font-size:large;margin-left:10%;}
#header {background: url(../images/header.jpg);}


#header2{height:30px;position:absolute;}
#header2{width:100%;}
#header2 h3{color:#FFFFFF;font-size:large;margin-top:0;margin-left:2%;}
#header2 {background:#868a8c;}

#menu {
    position:absolute;
    margin-left: 5%;
    height: 65px;
    width:100%;
   background: url(../images/menu.png);
   background-repeat:no-repeat;
    top:0;
    
}
#content{
    background:#ffffff;
    position:relative;
    margin-top:2%;

}
h1 {
    font-size:200px;
    font-weight:normal;

    
}

